{% extends 'base.html'%}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}">
{% endblock %}


{% block main %}
  {% include 'flash_messages.html' %}
  <div class="login-page">
  <div class="form">
    <p1 class="app-title">NetDate</p1>
    <form class="login-form" method ="POST" action="{{ url_for('login') }}">
      {{ loginForm.csrf_token }}
      {{ loginForm.username(placeholder="username") }}
      {{ loginForm.password(placeholder="password") }}
      <button>login</button>
     
    </form>
  </div>
</div>
{% endblock %}

{% block js%}
    <script  src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}