{%extends "base.html"%}

{% block css %}
{% endblock %}

{% block main %}

<div class="option-container row">
    <button id='add_node' class="btn btn-success col-md-2">Add Node</button>
    <button id='add_server' class="btn btn-success col-md-2" style="margin-left: 1%;">Add Server</button>
    <button id='list_all_nodes' class="btn btn-success col-md-2" style="margin-left: 1%;">Manage Clients</button>
    <button id='app-list' class="btn btn-success col-md-2" style="margin-left: 1%;">Manage App Lists</button>
</div>
<div id="request-container"></div>
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/dash.js') }}"></script>
{% endblock %}