{%extends "base.html"%}

{% block css %}
{% endblock %}

{% block main %}

<div class="option-container row">
    <button id='add_node' class="btn btn-success col-md-2">Add Client</button>
    <button id='add_server' class="btn btn-success col-md-2" style="margin-left: 1%;">Add Server</button>
    <button id='list_all_nodes' class="btn btn-success col-md-2" style="margin-left: 1%;">Manage Clients</button>
    <button id='app-list' class="btn btn-success col-md-2" style="margin-left: 1%;">Manage App Lists</button>
</div>
<div id="request-container" style="margin-top: 5%;">
	<h2>Home Page</h2>
	<h3>Tips</h3>

		Select an option from the menu above. Options:
		<ol>
			<li>Add Client: Allows you to add a new client</li>
			<li>Add Server: Allows you to add a new back end server</li>
			<li>Manage Clients: Allows you to manage the curent list of clients</li>
			<li>Manage App Lists: Allows you to manage the current application lists</li>
		</ol>
	
</div>
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/dash.js') }}"></script>
{% endblock %}